body {
  background: #000;
  color: #0f0;
  font-family: monospace;
}

#console {
  width: 700px;
  height: 300px;
  overflow-y: hidden;
}

#input {
  width: 490px;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

input:focus {
  outline: none;
}
​